.twitter {
    padding: 2rem 1rem;
}
.twitter iframe {
    width: unset !important;
}

.twitter__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media screen and (min-width: 768px) {
    .twitter__content {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1300px) {
    .twitter__content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}